@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

/* Navbar spacing */
body {
  padding-top: 80px;
  background-color: #f8f9fa;
}

/* Custom Font */
.kaushan {
  font-family: "Kaushan Script", cursive;
  font-size: 2rem;
}

/* Optional smooth UI */
.container {
  padding-bottom: 20px;
}